<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <body layout:fragment="body">
        <div class="container">
            
            <form th:acrion="@{/Alumno}" method="post" th:object="${alumnoBusqueda}">
                <div class="row">
                    <div class="col">
                        <label for="NombreAlumno" class="form-label">Nombre</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input id="NombreAlumno" type="text" class="form-control" placeholder="Nombre" th:field="*{Nombre}">
                        </div>  
                    </div>
                    <div class="col">
                        <label for="ApellidoPAlumno" class="form-label">Apellido Paterno</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input id="ApellidoPAlumno" type="text" class="form-control" placeholder="Nombre" th:field="*{ApellidoPaterno}" onkeypress="return justLetters(event, this)">
                        </div>  
                    </div>
                    <div class="col">
                        <label for="ApellidoMAlumno" class="form-label">Apellido Materno</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                            <input id="ApellidoMAlumno" type="text" class="form-control" placeholder="Nombre" th:field="*{ApellidoMaterno}" onkeypress="return justLetters(event, this)">
                        </div>  
                    </div>
                    <div class="col">
                        <label for="SemestreAlumno" class="form-label">Semestre</label>
                        <div class="input-group ">
                            <input id="SemestreAlumno" type="text" class="form-control" placeholder="Nombre" th:field="*{Semestre.IdSemestre}" onkeypress="return justLetters(event, this)">
                        </div>  
                    </div>
                    <div class="col">
                        <button class="btn btn-success" type="submit"> Busqueda</button>
                    </div>
                </div>
            </form>
            
            <a class="btn btn-success" th:href="@{/Alumno/form/{IdAlumno}(IdAlumno=0)}">Agregar</a>
            
            <table class="table table-responsive table-bordered">
                <thead class="table-dark">
                <th class="col-1">Actualizar</th>
                <th>Nombre</th>
                <th>Contacto</th>
                <th>Direccion</th>
                <th class="col-1">Eliminar</th>
                </thead>
                <tbody>
                    <tr th:each="alumnoDireccion : ${alumnosDireccion}">
                        <td><a class="btn btn-warning" th:href="@{/Alumno/form/{IdAlumno}(IdAlumno=${alumnoDireccion.Alumno.IdAlumno})}"><i class="bi bi-pencil-square"></i></a></td>
                        <td th:text="${alumnoDireccion.Alumno.Nombre} + ' ' + ${alumnoDireccion.Alumno.ApellidoPaterno} + ' ' + ${alumnoDireccion.Alumno.ApellidoMaterno}"></td>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-danger" th:href="@{/Alumno/delete/{IdAlumno}(IdAlumno=${alumnoDireccion.Alumno.IdAlumno})}"><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </body>
</html>
